
    <div class="well">
        <ul class="nav nav-list">
            <li class="nav-header">Nos produits</li>

                {% render(controller('EPEpapetrieBundle:Categories:menu')) %}

        </ul>
    </div>