<div class="well">
        <ul class="nav nav-list">
            <li>
                <a href=" ">Se connecter</a>
            </li>
            <li>
                <a href="">S'inscrire</a>
            </li>
        </ul>
    </div>
