<form action="{{ path('ep_epapetrie_recherche')}}" method="POST" class="navbar-form pull-right">
  {{ form_widget(form.recherche)}}
   
  <button type="submit" class="btn">Search</button>
  {{ form_widget(form)}}
</form>